%h3 Log in
= form_tag sessions_path do
  %p
    = label_tag :email
    %br
    = text_field_tag :email, params[:email]
  %p
    = label_tag :password
    %br
    = password_field_tag :password
  %p.button= submit_tag "Log in"

