%li.feature
  .pull-right= link_to 'Github', project.repo, :class => 'btn primary'
  %h2= link_to project.name, project_path(project)
  %p
    Author:
    = link_to project.member.full_name, project.member
    |
    Updated:
    = "#{time_ago_in_words project.updated_at} ago"
    |
    %a{:href => '#'} Like
    |
    %a{:href => '#'} Tweet
