= form_for @member, :html => { :class => 'form-stacked' } do |f|
  = f.error_messages
  %p
    = f.label :first_name
    = f.text_field :first_name, :class => 'required', :style => 'width: 80%;'
  %p
    = f.label :last_name
    = f.text_field :last_name, :style => 'width: 80%;'
  %p
    = f.label :email
    = f.text_field :email, :style => 'width: 80%;', :placeholder => 'your@email.com'
  %p
    = f.label :github
    = f.text_field :github, :style => 'width: 80%;', :placeholder => 'Github Account Name'
  %p
    = f.label :twitter
    = f.text_field :twitter, :style => 'width: 80%;', :placeholder => 'Twitter Account'
  %p
    = f.label :blog
    = f.text_field :blog
  - if @member.new_record?
    %p
      = f.label :password
      = f.password_field :password
    %p
      = f.label :password_confirmation
      = f.password_field :password_confirmation
  %p
  = f.submit :class => 'btn primary'
  or
  = link_to 'Cancel', members_path, :class => 'btn info'
